/Docmentation/Requirements/*.log
/Docmentation/Requirements/*.aux
/Docmentation/Requirements/*.dvi
/Docmentation/Requirements/User Stories.synctex.gz
/Docmentation/Requirements/*.gz
/Docmentation/*.log
/Docmentation/*.gz
/Docmentation/*.aux
